
.footer {
	@include container;
	text-align: center;
	padding-top: 36px;
//	padding-bottom: 23px;
	font-size: 0;
	padding-bottom: 1px;
	background-color: #fff;
}

.footer__title {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-decoration: none;
	color: black;
//	margin-bottom: 35px;
}

.footer__item {
	margin-bottom: 35px;
}

.social {
	width: 46px;
	height: 48px;
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
	background-color: $bg_btn1;
	cursor: pointer;
  fill: white;
	
	svg {
		height: 100%;
	}
 
    
	&:last-child {
		margin-right: 0;
	}
	
	&:hover {
		background-color: $bg_btn2;
	}
	
	&:active {
		background-color: $bg_btn3;
	}
	
	&:active svg {
		opacity: 0.3;
	}
    
    
}

.social_tw svg{
	width: 19px;
}

.social_fb svg {
	width: 9px;
}

.social_yt svg {
	width: 20px;
}

.socials {
	font-size: 0;
	margin-bottom: 40px;
}

.footer__website {
//	box-sizing: border-box;
	font-size: 14px;
	line-height: 34px;
	text-transform: uppercase;
}

.footer__logo {
	display: inline-block;
	vertical-align: top;
	width: 27px;
	height: 34px;
	font-size: 10px;
	margin-left: 10px;
	fill: black;
	
	&:hover {
		fill: $bg_btn1;
	}
	
	&:active {
		opacity: 0.3;
		fill: black;
	}
}

@media #{$tabletWidth} { 
	.footer__item {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		width: 256px;
	}
	
	.footer__title {
		padding-top: 10px;
	}
	
	.footer__website {
		padding-top: 8px;
		line-height: 30px;
	}
}

@media #{$desktopWidth} {
	
	.footer__item {
		width: 400px;
	}
	
	.footer__website {
		text-align: right;
		padding-right: 45px;
	}
}