
.form__header {
	text-align: center;
	padding-top: 18px;
//	border-bottom: 1px solid #e5e5e5;
}

.form__title {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	margin-top: 17px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	color: $color1;
}

.form__text {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
	text-transform: uppercase;
	
	br {
		display: none;
	}
}

.form {
	font-size: 18px;
	line-height: 26px;
	background-color: #fff;
	padding-bottom: 30px;
}

.form__item {
	box-sizing: border-box;
	padding: 0 20px;
	padding-bottom: 5px;
	border-top: 1px solid #e5e5e5;
	color: $color1;
}

.form__item_impression {
	padding-bottom: 15px;
}

.form__input {
	height: 58px;
	padding: 20px;
	margin: 0;
	border: none;
	box-sizing: border-box;
//	background-color: #e5e5e5;
	background-color: $bg_body;
	border: 4px solid $bg_body;
//	float: right;
	color: black;
	font-family: $font1;
	font-size: 18px;
	font-weight: 700;
	text-transform: none;
//	line-height: 58px;
	min-width: 0;
	
	&:hover {
		background-color: $bg3;
		border-color: $bg3;
	}
	
	&:focus {
		background-color: #fff;
		outline: none;
		border-color: $bg3;
	}
}

.form__input_name {
	margin-left: 18px;
}

.form__input_emotions {
	width: 100%;
	height: 160px;
	resize: none;
	line-height: 26px;
	padding: 15px 20px;
}

 .form__input::-webkit-input-placeholder {
  color: black;
}

.form__input::-moz-placeholder {
	color: black; 
	font-weight: 500;
	opacity: 1;
}

.form__input:-moz-placeholder {
	color: black; 
	font-weight: 500;
	opacity: 1;
}

.form__input_name {
//	width: 230px;
}

.form__label {
//	display: block;
	margin-bottom: 20px;
	font-size: 18px;
	
	line-height: 26px;
	line-height: 58px;
	
	display: flex;
	justify-content: space-between;
	
	&:last-child {
//		margin-bottom: 0;
	}
}

.form__label_contacts {
	line-height: 26px;
	margin-bottom: 11px;
	flex-direction: column;
	position: relative;
}

.form__label_click {
	font-weight: 700;
	padding-left: 80px;
	line-height: 56px;
	text-transform: none;
	margin-bottom: 13px;
	position: relative;
	
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 56px;
		height: 56px;
		background-color: $bg_body;
		left: 0;
		top: 0;
	}
	
	&:after {
		content: '';
		display: none;
		position: absolute;
		width: 22px;
		height: 22px;
		background-color: #333;
		left: 17px;
		top: 17px;
	}
	
	&:hover:before {
		background-color: $bg3;
	}
	
	&:active:before {
		background-color: #d5d5d5;
	}
	
	&:active:after {
		opacity: 0.3;
	}
}

.form__label_radio {
	&:before {
		border-radius: 50%;;
	}
	
	&:after {
		border-radius: 50%;
	}
}

.form__label_checkbox {
	margin-bottom: 24px;
	
	&:before {
		border-radius: 5px;
	}
	
	&:after {
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="form_tick" viewBox="0 0 23.05 16.25"><defs><style>.form_tick-1{fill:#231f20;}</style></defs><path class="form_tick-1" d="M22.8,1.3,21.75.25a.85.85,0,0,0-1.2,0L8.69,12.1,2.5,5.91a.85.85,0,0,0-1.2,0L.25,7a.85.85,0,0,0,0,1.2L8.09,16A.87.87,0,0,0,9.3,16L22.8,2.5A.85.85,0,0,0,22.8,1.3Z"/></svg>');
	}
}

.form__caption {
	font-size: 14px;
	text-transform: uppercase;
}

.form__caption_contacts {
	padding-left: 22px;
	margin-bottom: 7px;
	display: block;
	
}

.form__input_surname,
.form__input_patronymic {
//	width: 192px;
}

.form__input_contacts {
	float: none;
	width: 100%;
	position: relative;
	z-index: 1;
}

.form__inputWrapper {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 58px;
		height: 58px;
		background-color: #e6e6e6;
		z-index: 10;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.form__inputWrapper_tel {
	&:before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="form_phone" viewBox="0 0 18 18" width="18" height="18"><defs><style>.form_phone-1{fill:#010101;}</style></defs><title>form_phone</title><path id="Shape" class="form_phone-1" d="M3.6,7.8a15.57,15.57,0,0,0,6.6,6.6l2.2-2.2a.8.8,0,0,1,1-.2,10.45,10.45,0,0,0,3.6.6,1,1,0,0,1,1,1V17a1,1,0,0,1-1,1A17,17,0,0,1,0,1,.94.94,0,0,1,1,0H4.5a.94.94,0,0,1,1,1,11.33,11.33,0,0,0,.6,3.6,1.23,1.23,0,0,1-.2,1L3.6,7.8Z"/></svg>');
	}
}

.form__inputWrapper_email {
	&:before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="form_mail" viewBox="0 0 16 12" width="16" height="12"><title>form_mail</title><path d="M8,10a2.32,2.32,0,0,1-1-.34L0,6v7a1,1,0,0,0,1,1H15a1,1,0,0,0,1-1V6L9,9.66A2.32,2.32,0,0,1,8,10Zm7-8H1A1,1,0,0,0,0,3v.76L8,8l8-4.21V3A1,1,0,0,0,15,2Z" transform="translate(0 -2)"/></svg>');
		
	}
}

.form__item_contacts {
//	min-height: 317px;
	padding-bottom: 15px;
}

.form__title_header {
	margin-bottom: 25px;
}

.form__error {
	text-transform: none;
	color: #ff5c5c;
	margin: 0;
	margin-top: 5px;
//	width: 100%;
}

.form__error_email {
	display: none;
}

.form__input_hidden {
	display: none;
}

.form__input_hidden:checked + label:after {
	display: block;
}

.form__btn {
	margin-top: 42px;
}

.form__reminder {
	display: none;
}

@media #{$tabletWidth} { 
	
	.form {
		position: relative;
		margin-left: 60px;
		margin-right: 60px;
		padding-bottom: 60px;
		
		form {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	
	.form__header {
		width: 100%;
		margin: 0 auto;
		padding-top: 57px;
		margin-bottom: 55px;
		order: -2;
	}
	
	.form__text {

		br {
			display: block;
		}
	}
	
	.form__title {
		font-size: 21px;
		width: 400px;
		margin: 0 auto;
		margin-top: -13px;
		margin-bottom: 24px;
		background-color: #fff;
	}
	
	.form__title_header {
		font-size: 30px;
		margin-top: 17px;
		margin-bottom: 30px;
	}
	
	.form__title_left {
		width: auto;
		text-align: left;
		margin: 0;
		margin-bottom: 57px;
	}
	
	.form__item {
		padding: 0;
		position: relative;
		@include clearfix;
		width: 100%;
	}
	
	.form__item_name {
//		position: absolute;
//		right: 0;
//		top: 253px;
		width: 324px;
		padding: 0;
		padding-left: 57px;
		border: none;
		border-left: 1px solid #e5e5e5;
	}
	
	.form__item_impression {
//		position: absolute;
//		left: 0;
//		top: 253px;
		width: 324px;
		padding: 0;
		border: none;
		order: -1;
	}
	
	.form__item_contacts {
		padding-bottom: 55px;
		margin-top: 60px;
	}
	
	.form__hidden_tablet {
		display: none;
	}
	
	.form__label_radio {
		margin-bottom: 22px;
		padding-left: 75px;
	}
	
	.form__input_name {
		width: 216px;
	}
	
	.form__input_surname,
	.form__input_patronymic{
		width: 178px;
	}
	
	.form__label {
		position: relative;
	}
	
	.form__error {
		position: absolute;
		right: 0;
		left: auto;
		top: -5px;
	}
	
	.form__label_contacts {
		margin-bottom: 23px;
	}
	
	.form__title_places {
		margin-top: -25px;
		margin-bottom: 40px;
	}
	
	.form__item_places {
		padding-bottom: 50px;
	}
	
	.form__wrapper {
		box-sizing: border-box;
		width: 324px;
		float: left;
	}
	
	.form__wrapper_left {
		padding-left: 95px;
	}

	.form__wrapper_right {
		padding-left: 30px;
	}
	
	.form__label_checkbox {
		margin-bottom: 32px;
	}
	
	.form__title_emotions {
		margin-bottom: 60px;
	}
	
	.form__btn {
		width: 324px;
		margin-top: 50px;
	}
	
	.form__reminder {
		display: block;
		font-size: 14px;
		line-height: 24px;
		text-transform: uppercase;
		position: absolute;
		right: 0;
		bottom: 15px;
	}
	
	
}

@media #{$desktopWidth} {
	.form {
		margin-left: 120px;
		margin-right: 120px;
	}
	
	.form__header {
		padding-top: 95px;
		margin-bottom: 40px;
	}
	
	.form__item_impression,
	.form__item_name {
//		top: 275px;
		width: 480px;
	}
	
	.form__item_name {
		padding-left: 80px;
	}
	
	.form__item_contacts {
		padding-bottom: 45px;
	}
	
	.form__title_left {
//		text-align: center;
	}
	
	.form__title_impression {
		padding-left: 80px;
	}
	
	.form__hidden_tablet {
		display: inline;
	}
	
	.form__input_name {
		width: 350px;
	}
	
	.form__input_patronymic,
	.form__input_surname {
		width: 312px;
	}
	
	.form__label_contacts {
		padding-top: 50px;
		flex-direction: row;
	}
	
	.form__label_tel {
		float: left;
		width: 400px;
	}
	
	.form__label_email {
		float: right;
		width: 480px;
	}
	
	.form__caption_contacts {
		display: inline;
		padding-left: 0;
		line-height: 58px;
	}
	
	.form__input_contacts {
		width: 315px;
		float: right;
	}
	
	.form__caption_desktop {
		display: none;
	}
	
	.form__error {
		line-height: 24px;
		left: auto;
		right: 104px;
		top: 15px;
	}
	
	.form__item_places {
//		padding: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
	.form__wrapper {
		padding: 0;
		width: 480px;
	}
	
	.form__label_checkbox {
		float: left;
//		margin-right: 60px;
	}
	
	.form__label_checkbox:first-of-type {
		margin-right: 70px;
	}
	
	.form__wrapper_right {
//		padding-left: 40px;
	}
	
	.form__btn {
		width: 480px;
	}
}




.modal {
	@include container;
	background-color: $bg1;
	box-shadow: 0 7px 15px rgba(black, 0.15);
}
