
.mainHeader {
	@include container;
	padding-bottom: 56px;
//	outline: 1px solid red;
//	min-height: 279px;
	position: relative;
	z-index: 2;
	background-color: #fff;
}

.mainNav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
//	display: none;
}

.mainNav__item {
	text-align: center;
//	outline: 1px solid black;
}

.mainNav__item a {
	display: block;
//	min-height: 56px;
	box-sizing: border-box;
	text-align: center;
	padding: 13px;
	padding-bottom: 14px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	border-top: 1px solid #9ac2db;
	border-bottom: 1px solid #678fa8;
	background-color: $bg_btn1;
	font-weight: 700;
	
	&:hover {
		background-color: $bg_btn2;
		border-top-color: #86b2cd;
	}
	
	&:active {
		background-color: $bg_btn3;
		border-top-color: #77acca;
		color: rgba(white, 0.3);
	}
}

.mainNav__item:last-child a {
	border-bottom: none;
}

.mainNav__item:first-child a {
	border-top-color: transparent;
}

.mainHeader__logo {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -70px;
	width: 140px;
	height: 56px;
//	margin: 0 auto;
	outline: 1px solid lime;
	text-align: center;

	use {
		vertical-align: top;
	}
	
}

.mainNav__toggle {
	position: absolute;
	right: 0;
	width: 64px;
	height: 56px;
	cursor: pointer;
	z-index: 10;
//	outline: 1px solid white;
	

}

.mainNav__item_hidden {
	display: none;
}

.mainNav_opened .mainNav__toggle {
	
	&:after,
	&:before {
		content: '';
		position: absolute;
		width: 28px;
		height: 4px;
		background-color: #fff;
		left: 50%;
		top: 50%;
		margin-left: -14px;
		margin-top: -2px;
	}
	
	&:before {
		transform:  rotate(45deg);
	}
	
	&:after {
		transform:  rotate(-45deg);
	}
}

.mainNav_closed .mainNav__toggle {
	&:before {
		content: '';
		position: absolute;
		width: 23px;
		height: 4px;
		background-color: $bg_btn1;
		top: 50%;
		left: 50%;
		margin-left: -11px;
		margin-top: -2px;
		
		box-shadow: 0 8px $bg_btn1,
								0 -8px $bg_btn1;
	}
}

@media #{$mobileWidthOnly} { 
	
	.mainNav_closed .mainNav__list {
		display: none;
	}
	
	.mainNav_opened .mainNav__list:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 8px;
		width: 100%;
		box-shadow: inset 0 -3px 5px -2px  rgba(black, 0.5);
	}
	
	.mainNav_nojs .mainNav__toggle {
		display: none;
	}
	
}

@media #{$tabletWidth} { 
	
	.mainHeader {
		padding: 0;
	}
	
	.mainNav__list {
		font-size: 0;
	}
	
	.mainNav__item {
		display: inline-block;
		font-size: 14px;
		width: calc(100% / 5);
//		background-color: red;
		outline: none;
	}
	
	.mainNav__item a {
		color: black;
		background-color: transparent;
		border-color: transparent;
		
		&:hover {
			color: $bg_btn1;
			background-color: transparent;
			border-color: transparent;
		}
		
		&:active {
			color: rgba(black, 0.3);
			background-color: transparent;
			border-color: transparent;
		}
	}
	
	.mainNav__item_active a {
		color: #766357;
		
		&:hover {
			color: #604e43;
		}
		
		&:active {
			color: rgba(#766357, 0.3);
		}
	}
	
	.mainNav__toggle {
		display: none;
	}
	
	.mainHeader__logo {
		width: 153px;
		margin-left: -76px;
	}
}

@media #{$desktopWidth} {
	.mainHeader__logo {
		width: 238px;
		margin-left: -119px;
	}
		
		.mainHeader__logo img {
				width: 188px;
				height: auto;
		}
	
}

