@mixin clearfix() {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin container() {
	width: 320px;
	margin: 0 auto;
	
	@media #{$tabletWidth} {
		width: 768px;
	}
	
	@media #{$desktopWidth} {
		width: 1200px;
	}
}

@mixin no-outline() {
	outline: none;
	background: transparent;
	
	&::before {
		display: none;
	}
}