.photos {
//	outline: 2px solid lime;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 40px;
}

.photos__header {
	box-sizing: border-box;
//	min-height: 190px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 35px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 26px;
	border-bottom: 1px solid #e5e5e5;
}

.photos__header_video {
	border: none;
	padding-bottom: 35px;
}

.photos__title {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 27px;
	color: $color1;
}

.photo {
	min-height: 415px;
	box-sizing: border-box;
	padding: 20px;
	padding-top: 22px;
	border-bottom: 1px solid #e5e5e5;
}

.photo__title {
	font-weight: 700;
	text-transform: uppercase;
	color: $color1;
}

.photo__like {
	font-weight: 700;
	padding-left: 35px;
	margin-top: 5px;
	color: $color1;
}

.photo__image {
	width: 280px;
	height: 280px;
	outline: 1px solid gold;
}

.photo__footer {
	padding-top: 14px;
}

.video {
	min-height: 268px;
	outline: 1px solid;
	position: relative;
}

.my_video {
	background-image: url(../img/video-mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	vertical-align: top;
}


.video__controls {
//	position: absolute;
	position: relative;
	width: 280px;
	height: 66px;
	margin: 0 auto;
	padding: 22px; 
	box-sizing: border-box;
	font-size: 0;
	z-index: 1;
	background-color: #f2f2f2;
}

.video__seekWrapper {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	min-height: 45px;
	top: -45px;
	left: 0;
	background-color: rgba(black, 0.6);
	padding: 0 22px;
}

.video__seek {
//  background: transparent;
//	height: 20px;
//  display: inline-block;
//  vertical-align: middle;
//	margin-right: 15px;
	cursor: pointer;
	padding: 22px 0 20px;
}

.video__scale{
	height: 3px;
	background-color: rgba(255, 255, 255, 0.2);
//	background-color: goldenrod;
//	background-color: $gold;
}

.video__bar {
	height: 2px;
//	background-color: rgba(white, 1);
//	background-color: $white;
	width: 40px;
	position: relative;
}

.video__bar:after {
	content: '';
	position: absolute;
	right: -5px;
	top: -3px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #fff;
}

.video__replay {
//	width: 16px;
//	height: 20px;
	margin-left: 3px;
	margin-right: 135px;
}

.video__subtitle {
//	width: 32px;
//	height: 20px;
	margin-right: 30px;
}

.fullscreenbtn {
//	width: 20px;
//	height: 20px;
//	float: right;
}

.video__btn {
	background-color: transparent;
	border: none;
//	outline: 1px solid black;
	padding: 0;
	fill: #5c6870;
	vertical-align: top;
	
	&:hover {
		fill: #333;
	}
	
	&:active {
		opacity: 0.3;
		fill: #333;
	}
	
}

@keyframes pulse {
  from {
    box-shadow: 0 0 2px transparent;
  }

  50% {
    box-shadow: 0px 0px 10px white;
  }

  to {
   	box-shadow: 0 0 2px transparent;
  }
}

@keyframes svg {
  from {
		opacity: 1;
  }

  50% {
		opacity: 0.3;
  }

  to {
		opacity: 1;
  }
}

		
.video__seek:hover .video__bar:after{
  animation: pulse 1.3s infinite;
}

.video__btn:hover {
  animation: svg 1.3s infinite;
	
}

@media #{$tabletWidth} { 
	
	.photos {
		padding-left: 60px;
		padding-right: 60px;
//		padding-top: 5px;
	}
	
	.photos__header {
		padding-top: 65px;
		width: 480px;
		margin: 0 auto;
		border: none;
	}
	
	.photos__header_video {
		padding-top: 55px;
		margin-bottom: 35px;
	}
	
	.photos__title {
		font-size: 30px;
		line-height: 1.3em;
//		margin-bottom: 30px;
	}
	
	.photos__list {
		padding-top: 43px;
		font-size: 0;
	}
	
	.photo {
		padding: 0;
		outline: 1px solid red;
		width: 324px;
		min-height: 347px;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 24px;
	}
	
	.photo__image {
		width: 100%;
		height: 267px;
	}
	
	.photo__footer {
		box-sizing: border-box;
		min-height: 80px;
		position: relative;
		outline: 1px solid lime;
		padding-left: 20px;
	}
	
	.photo__like {
		box-sizing: border-box;
		position: absolute;
		right: 0px;
		top: 25px;
		min-width: 85px;
		padding-left: 30px;
		padding-right: 20px;
		text-align: left;
	}
	
	.photo_top {
		width: 100%;
		
		.photo__image {
			height: 400px;
		}
	}
	
	.video {
		min-height: 500px;
	}
	
	.my_video {
		width: 648px;
		height: 499px;
		background-image: url(../img/video-tablet.jpg);
		
	}
	
	.video__controls {
		
		position: absolute;
		left: 0;
		right: 0;
		width: auto;
		bottom: 0;
		height: 93px;
		background-color: rgba(black, 0.6);
		padding: 20px;
	}
	
	.video__seekWrapper {
		position: static;
		top: auto;
		padding: 0;
		padding: 0;
//		left: 93px;
//		right: 166px;
		margin: 0 27px;
		width: 390px;
		display: inline-block;
		vertical-align: middle;
		background-color: transparent;
//		outline: 1px solid white;
	}
	
	.video__seek {
		padding: 25px 0;
	}
	
	.video__btn {
		fill: white;
		opacity: 0.7;
		display: inline-block;
		margin: 0;
//		padding: 20px;
		width: auto;
		height: auto;
		
		&:hover {
			opacity: 1;
			fill: white;
		}
		
		&:active {
			opacity: 0.3;
			fill: white;
		}
		
		
	svg {
//			height: 100%;
//			width: 100%;
			padding: 15px;
			display: block;
		}
	}
}


@media #{$desktopWidth} { 
	
	.photos {
		padding-top: 40px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 85px;
	}
	
	.photo {
		min-height: 0;
		position: relative;
		width: 400px;
	}
	
	.photo__footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(black, 0.3);
		color: $color3;
	}
	
	.photo_top {
		width: 100%;
	}
	
	.photos__header_video {
		padding-top: 60px;
	}
	
	.video {
		width: 800px;
		margin: 0 auto;
	}
	
	.my_video {
		width: 800px;
		height: 500px;
		background-image: url(../img/video-desktop.jpg);
	}
	
	.video__seekWrapper {
		width: 540px;
	}
	
}

