.reasons {
//	min-height: 2060px;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 21px;
}

.reasons__header {
	min-height: 240px;
	box-sizing: border-box;
	line-height: 26px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	
	
	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 0px;
		left: 50%;
		bottom: 0;
		margin-left: -384px;
		border-left: 384px solid $bg2;
		border-right: 384px solid $bg2;
		border-top: 37px solid transparent;
		box-sizing: border-box;
	}
	
}

.reasons__text_26 {
	line-height: 26px;
}

.reasons__item {
	box-sizing: border-box;
	text-align: center;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	font-size: 14px;
	position: relative;
}

.reasons__item_blue {
	color: $color3;
	padding-bottom: 38px;
	background-color: $bg2;
	
}

.reasons__item_gray {
	padding-top: 25px;
	padding-bottom: 25px;
	min-height: 168px;
	background-color: #eee;
	
	&:not(:last-child):after {
		content: '';
		position: absolute;
		left: 20px;
		right: 20px;
		height: 1px;
		background-color: rgba(black, 0.1);
		bottom: 0;
	}
}

.reasons__title {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: $color1;
}

.reasons__title_inherit {
	color: inherit;
}

.reasons__title_margin {
	margin-bottom: 25px;
}

.reasons__number {
//	margin-bottom: 15px;
}

.reasons__text {
	margin-top: 15px;
	margin-bottom: 0;
}

.reasons__image {
	height: 260px;
	vertical-align: top;
	display: block;
	background-color: #866252;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}

.reasons__image_city {
	background-image: url(../img/photo-city@1x.jpg);
	
	@media 
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 144dpi),
		(min-resolution: 1.5dppx) {
			background-image: url(../img/photo-city@2x.jpg);
	}
}

.reasons__image_bridge {
	background-image: url(../img/photo-bridge@1x.jpg);
	
	@media 
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 144dpi),
		(min-resolution: 1.5dppx) {
			background-image: url(../img/photo-bridge@2x.jpg);
	}
}

.features {
	box-sizing: border-box;
	min-height: 416px;
	padding-top: 1px;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 10px;
}

.feature {
	padding-left: 70px;
	padding-top: 26px;
	text-align: left;
	padding-bottom: 0px;
    background-repeat: no-repeat;
//    background-size: 40px auto;
}

.feature_hotel {
    background-position: 20px 15px;
//    background-image: url(../img/feature_hotel.svg);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.7 72.35" width="39" height="37"><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"  fill="#81b3d2"><path d="M29.5,65.34h16V41.41h-16V65.34Zm13.06-2.94H32.44V44.34H42.57Z"/><path d="M72.62,39.44l2.08-2.08-9.91-9.91V.47H51V13.63L37.35,0,0,37.36l2.08,2.08,7.83-7.83v37.8H6v2.94H69.85V69.41H64.79V31.61Zm-18.71-36h7.94v21.1l-7.94-7.94Zm7.94,66h-49V28.67l24.5-24.5,24.5,24.5Z"/><path d="M29.75,27.21a7.75,7.75,0,1,0,7.75-7.75A7.75,7.75,0,0,0,29.75,27.21Zm7.75-5a5,5,0,1,1-5,5A5,5,0,0,1,37.5,22.24Z"/><rect x="16.91" y="41.41" width="3" height="3.94"/><rect x="22.85" y="41.41" width="3" height="3.94"/><rect x="16.91" y="47.41" width="3" height="3.94"/><rect x="22.85" y="47.41" width="3" height="3.94"/><rect x="48.85" y="41.41" width="3" height="3.94"/><rect x="54.78" y="41.41" width="3" height="3.94"/><rect x="48.85" y="47.41" width="3" height="3.94"/><rect x="54.78" y="47.41" width="3" height="3.94"/></g></g></svg>');
}



.feature_gift {
//    background-image: url(../img/feature_gift.svg);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 75.08" width="32" height="38"><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1" fill="#81b3d2"><path d="M60.17,22.23H35.76c13.6-6.81,14.69-11.11,14.19-13.52-1.14-3.92-5.6-6.94-9.85-5.34-5.48,2.06-7,10.26-8.51,16.19-1.89-6-3.73-13.65-8-17.52A7.19,7.19,0,0,0,17.9,0c-4,.35-9.65,5.32-7.34,10.85,2.22,5.31,9.54,8.67,14.35,11.35H2.83A2.84,2.84,0,0,0,0,25.07V36.25a2.84,2.84,0,0,0,2.84,2.83h.27v36h57v-36h.1A2.84,2.84,0,0,0,63,36.25V25.07A2.85,2.85,0,0,0,60.17,22.23ZM41.77,5.87c2.07-.31,4.91,1.28,5.18,3.17.39,2.72-3.35,5.19-5,6.34-2.48,1.72-4.85,2.61-7.18,4C35.63,15.75,37.27,6.54,41.77,5.87ZM19.23,15.72C17,14.25,12.79,11.34,12.89,8,13,4.49,18.54,1.55,21.57,4.2c3.8,3.33,5.62,11,7,16.36A68.29,68.29,0,0,1,19.23,15.72Zm5.88,56.43H6V39.08H25.11Zm0-36.06H3V25.23H25.11Zm10,36.06H28.05V25.23h7.06Zm22,0H38.05V39.08H57.13ZM60,36.08H38.05V25.23H60Z"/></g></g></svg>');
    background-position: 25px 15px;
}

.feature_food {
//    background-image: url(../img/feature_food.svg);
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.17 68.96" width="40" height="35"><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1" fill="#81b3d2"><path d="M71.91,46H4.25A4.26,4.26,0,0,0,0,50.29v3.45A4.27,4.27,0,0,0,4.25,58h1v1A10,10,0,0,0,15.13,69H61A10,10,0,0,0,71,59V58h1a4.26,4.26,0,0,0,4.25-4.25V50.29A4.26,4.26,0,0,0,71.91,46ZM68,59A6.93,6.93,0,0,1,61,66H15.13A6.93,6.93,0,0,1,8.21,59V58H68Zm5.21-5.29A1.27,1.27,0,0,1,71.91,55H4.25A1.27,1.27,0,0,1,3,53.75V50.29A1.27,1.27,0,0,1,4.25,49H71.91a1.27,1.27,0,0,1,1.25,1.25Z"/><polygon points="16.16 37.86 21.64 41.86 27.11 37.86 32.59 41.86 38.07 37.86 43.55 41.86 49.03 37.86 54.51 41.86 59.98 37.86 65.47 41.86 71.84 37.21 70.07 34.79 65.47 38.14 59.98 34.14 54.51 38.14 49.03 34.14 43.55 38.14 38.07 34.14 32.59 38.14 27.11 34.14 21.64 38.14 16.16 34.14 10.69 38.14 6.09 34.79 4.32 37.21 10.69 41.86 16.16 37.86"/><path d="M70.89,31.09c0-.61.05-2.62,0-3C70.24,12.48,55.8,0,38.08,0S5.92,12.48,5.24,28.09c0,.38,0,2.39,0,3ZM38.08,3c16,0,29.15,11.15,29.84,25.09H8.24C8.93,14.15,22.05,3,38.08,3Z"/><circle cx="38.08" cy="15.04" r="2"/><circle cx="30.08" cy="10.08" r="2"/><circle cx="46.08" cy="10.08" r="2"/></g></g></svg>');
    
    background-position: 18px 22px;
}

.feature__title {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
//	margin-bottom: 10px;
	margin-top: 0px;
	color: $color1;
}

.reasons__hidden {
		display: none;
}

@media #{$tabletWidth} { 
	
	.reasons__wrapper {
		font-size: 0;
		@include clearfix;
	}
	
	.reasons__item {
		width: 256px;
		display: inline-block;
		vertical-align: top;
		padding-top: 45px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 45px;
		min-height: 256px;
	}
	
	.reasons__header {
		min-height: 205px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 50px;
		width: 500px;
		margin: 0 auto;
		display: block;
		
		&:after {
			content: none;
		}
	}
	
	.reasons__image {
		width: 66.6666%;
		height: 256px;
		display: inline-block;
		vertical-align: top;
	}
	
	.reasons__image_bridge {
		float: left;
	}
	
	.reasons__title {
		font-size: 21px;
	}
	
	.reasons__text {
		margin-top: 20px;
	}
	
	.features {
		font-size: 0;
		padding-top: 0px;
		position: relative;
		min-height: 330px;
	}
	
	.feature {
		padding-top: 160px;
		text-align: center;
		background-position: center 60px;
		background-size: 75px 72px;
	}
	
	.feature_food {
		background-position: center 63px;
		background-size: 77px 68px;
	}
	
	.feature_gift {
		background-position: center 57px;
		background-size: 64px 75px;
		
		float: right;
		padding-left: 45px;
		padding-right: 45px;
	}
	
	.feature__title {
		font-size: 21px;
	}
	
	.feature__hidden {
		display: none;
	}
	
	.reasons__item_right {
		padding-left: 39px;
		padding-right: 39px;
	}
	
	.reasons__hidden {
		display: inline;
	}
	
	.reasons__item_gray:nth-child(2) {
		padding-left: 55px;
		padding-right: 55px;
	}
}


@media #{$desktopWidth} { 
	
	.reasons__item {
		width: 400px;
		padding-top: 50px;
		padding-left: 70px;
		padding-right: 70px;
	}
	
	.reasons__image {
		background-size: cover;
	}
	
	.reasons__header {
		width: 500px;
	}
	
	.reasons__title {
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.reasons__title_margin {
		padding: 0;
	}
	
	.reasons__item_gray {
		padding-top: 45px;
	}
	
	.reasons__item_gray:nth-child(2) {
		padding-left: 60px;
		padding-right: 60px;
		
		.reasons__title {
			padding-left: 60px;
			padding-right: 60px;
		}
	}
	
	.feature {
		padding-top: 160px;
	}
	
	
}

