// Variables

$tabletWidth: '(min-width: 768px)';
$desktopWidth: '(min-width: 1200px)';

$bg1: #fff;
$bg2: #81b3d2;
$bg_body: #f2f2f2;
$font1: 'PT Sans', sans-serif;

// Settings

body {
	font-size: 18px;
	line-height: 27px;
	font-family: $font1;
	color: #333333;
	font-style: normal;
	
	background-color: $bg_body;
}

img {
	max-width: 100%;
	height: auto;
}

@import "mixins.scss";
@import "outlines.scss";
@import "normalize.scss";

@import "mainHeader.scss";
@import "reasons.scss";
@import "search.scss";
@import "footer.scss";


.content {
	@include container;
}

.into__header {
	box-sizing: border-box;
	padding-top: 90px;
	padding-bottom: 29px;
	min-height: 389px;
	text-align: center;
	
	img {
		display: block;
		margin: 0 auto;
	}
}

@media #{$tabletWidth} { 
	.into__header {
		padding-top: 75px;
		min-height: 520px;
//		padding-top: ;
	}
	
	
	
	
	
}

@media #{$desktopWidth} {
	
	html {
		background-color: $bg_body;
	}
	
	body {
		@include container;
		padding: 0;
		box-shadow: 0 5px 15px rgba(#000101, 0.2);
		background-color: #fff;
		
	}
}






