// Variables

$tabletWidth: '(min-width: 768px)';
$desktopWidth: '(min-width: 1200px)';

$bg_light: #fff;
$bg_color: #81b3d2;

// Settings

body {
	font-size: 18px;
	line-height: 27px;
	font-family: 'PT Sans', sans-serif;
	color: #333333;
	font-style: normal;
	
	background-color: $bg_light;
}

img {
	max-width: 100%;
	height: auto;
}

@import "mixins";
@import "outlines";
@import "normalize";










