// Variables

$tabletWidth: '(min-width: 768px)';
$desktopWidth: '(min-width: 1200px)';
$mobileWidthOnly: '(max-width: 767px)';

$bg1: #fff;
$bg2: #81b3d2;
$bg3: #e5e5e5;
$bg_btn1: #81b3d2;
$bg_btn2: #669ec0;
$bg_btn3: #5496bd;
$bg_body: #f2f2f2;
$font1: 'PT Sans', sans-serif;
$color1: black;
$color2: #333;
$color3: white;

// Settings

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 18px;
	line-height: 27px;
	font-family: $font1;
	color: #333333;
	font-style: normal;
	
	background-color: #f7f7f7;
}

img {
	max-width: 100%;
	height: auto;
}

.btn {
	display: block;
	width: 100%;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-family: $font1;
	height: 58px;
	background-color: $bg_btn1;
	margin-top: 35px;
	border: none;
	color: white;
	font-weight: 700;
	cursor: pointer;
	
	&:hover {
		background-color: $bg_btn2;
	}
	
	&:active {
		background-color: $bg_btn3;
		color: rgba(white, 0.3);
	}
	
	&:disabled {
		background-color: $bg3;
		color: white;
	}
}

.btn_progress {
	animation: progress 0.5s ease-in-out infinite alternate;
}


@import "svgUrl2.scss";
@import "normalize.scss";
@import "mixins.scss";
//@import "outlines.scss";


@import "mainHeader.scss";
@import "reasons.scss";
@import "search.scss";
@import "footer.scss";

@import "photos.scss";
@import "form.scss";

.content {
	@include container;
	background-color: $bg1;
}

.intro__header {
	box-sizing: border-box;
	position: relative;
	padding-top: 90px;
	padding-bottom: 29px;
	min-height: 389px;
	text-align: center;
	background-color: #9bb0c0;
	background-size: auto 155%;
//	background-size: auto 375px;
	background-position: center 26%;
	background-repeat: no-repeat;
	background-image: url(../img/intro_background@1x.jpg);
	
	@media 
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 144dpi),
		(min-resolution: 1.5dppx) {
			background-image: url(../img/intro_background_MOD@2x-min.jpg);
	}
	
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 57px;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-size: auto 57px;
		background-position: center bottom;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1199.91 57"><defs><style>.cls-1{fill:#fff;}</style></defs><title>intro_bottom</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><polygon class="cls-1" points="249.57 23.71 0 0 0 57 249.57 57 599.96 57 249.57 0 249.57 23.71"/><polygon class="cls-1" points="950.35 23.71 950.35 0 599.96 57 950.35 57 1199.91 57 1199.91 0 950.35 23.71"/></g></g></svg>');
	}
	
	
	
//	img {
//		display: block;
//		margin: 0 auto;
//		width: 282px;
//	}
	
	svg {
		width: 282px;
		height: 214px;
	}
}

.intro__header_photo {
	padding-top: 50px;
//	padding-top: 0;
	min-height: 159px;
//	height: 159px;
	background-position: center 65%;
	background-size: 280% auto;
	
	svg {
		width: 229px;
		height: 39px;
		vertical-align: top;
		
	}
}

@media #{$tabletWidth} { 
	
	body {
		@include container;
	}
	
	.intro__header {
		padding-top: 75px;
		min-height: 518px;
//		padding-top: ;
		background-size: 1200px;
		background-position: center 27%;
	}
	
	.intro__header svg {
		width: 460px;
		height: 350px;
	}
	
	.intro__header_photo {
		padding-top: 95px;
//		padding-top: 0;
		min-height: 291px;
		background-size: 1200px;
		background-position: center 59%;
		
		svg {
			height: 78px;
		}
	}
    
//	.intro__header img {
//			width: 460px;
//			margin: 0 auto;
//	}
	
	
	
}

@media #{$desktopWidth} {
	
	html {
		background-color: $bg_body;
	}
	
	body {
		
		padding: 0;
		box-shadow: 0 5px 15px rgba(#000101, 0.2);
		background-color: #fff;
		
	}
	
    
    
	.intro__header_photo {
		padding-top: 100px;
		min-height: 301px;
		
		svg {
			height: 80px;
		}
	}
}


@keyframes progress {
	0% { 
		background-color: #5496bd;
	}
	
	100% { 
		background-color: #3e84ae;
//		background-color: dodgerblue;
	}
}











