// Variables

$tabletWidth: '(min-width: 768px)';
$desktopWidth: '(min-width: 1200px)';

$bg1: #fff;
$bg2: #81b3d2;
$bg3: #e5e5e5;
$bg_btn1: #81b3d2;
$bg_btn2: #669ec0;
$bg_btn3: #5496bd;
$bg_body: #f2f2f2;
$font1: 'PT Sans', sans-serif;

// Settings

body {
	font-size: 18px;
	line-height: 27px;
	font-family: $font1;
	color: #333333;
	font-style: normal;
	
	background-color: white;
}

img {
	max-width: 100%;
	height: auto;
}

.btn {
	display: block;
	width: 100%;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-family: $font1;
	height: 58px;
	background-color: #81b3d2;
	margin-top: 35px;
	border: none;
	color: white;
	font-weight: 700;
}

@import "mixins.scss";
//@import "outlines.scss";
@import "normalize.scss";

@import "mainHeader.scss";
@import "reasons.scss";
@import "search.scss";
@import "footer.scss";

@import "photos.scss";
@import "form.scss";

.content {
	@include container;
}

.intro__header {
	box-sizing: border-box;
	padding-top: 90px;
	padding-bottom: 29px;
	min-height: 389px;
	text-align: center;
	
	img {
		display: block;
		margin: 0 auto;
	}
}

.intro__header_photo {
	padding-top: 50px;
	min-height: 159px;
}

@media #{$tabletWidth} { 
	.intro__header {
		padding-top: 75px;
		min-height: 520px;
//		padding-top: ;
	}
	
	.intro__header_photo {
		padding-top: 95px;
	}
	
	.intro__header {
		min-height: 290px;
	}
	
}

@media #{$desktopWidth} {
	
	html {
		background-color: $bg_body;
	}
	
	body {
		@include container;
		padding: 0;
		box-shadow: 0 5px 15px rgba(#000101, 0.2);
		background-color: #fff;
		
	}
	
	.intro__header_photo {
		padding-top: 100px;
		min-height: 301px;
	}
}













