// Variables

$tabletWidth: '(min-width: 768px)';
$desktopWidth: '(min-width: 1200px)';

$bg1: #fff;
$bg2: #81b3d2;
$bg_body: #f2f2f2;
$font1: 'PT Sans', sans-serif;

// Settings

body {
	font-size: 18px;
	line-height: 27px;
	font-family: $font1;
	color: #333333;
	font-style: normal;
	
	background-color: $bg_body;
}

img {
	max-width: 100%;
	height: auto;
}

@import "mixins.scss";
@import "outlines.scss";
@import "normalize.scss";

@import "mainHeader.scss";
@import "reasons.scss";




.content {
	@include container;
}

.into__header {
	box-sizing: border-box;
	padding-top: 90px;
	padding-bottom: 29px;
	min-height: 389px;
	text-align: center;
	
	img {
		display: block;
		margin: 0 auto;
	}
}

@media #{$tabletWidth} { 
	.into__header {
		padding-top: 75px;
		min-height: 520px;
//		padding-top: ;
	}
	
	
	
}






.search {
	@include container;
}

.interes {
	text-align: center;
	padding-top: 25px;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}

.interes__title {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
}

.interes__text {
	font-size: 14px;
	line-height: 24px;
	
}

.interes__button {
	display: block;
	width: 100%;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-family: $font1;
	height: 58px;
	background-color: transparent;
	margin-top: 35px;
	border: none;
	
}

.interes__hidden {
	display: none;
}

@media #{$tabletWidth} { 
	
	.interes { 
		padding-top: 55px;
		width: 460px;
		margin: 0 auto;
		padding-bottom: 60px;
	}
	
	.interes__title {
		font-size: 30px;
		line-height: 26px;
		margin-bottom: 30px;
	}
	
	.interes__button {
		margin-top: 40px;
	}
	
	.interes__hidden {
		display: inline;
	}
}

@media #{$desktopWidth} { 
	.interes__button {
		margin-top: 48px;
	}
	
	.interes {
		padding-bottom: 65px;
	}
}

.map {
	height: 350px;
}
